.post-item {
  background-color: var(--color-grey-800);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.post-item a {
  color: var(--color-grey-100);
}

.post-item__image {
  overflow: hidden;
  max-height: 20rem;
  width: 100%;
}

.post-item__image img {
  object-fit: cover;
}

.post-item__content {
  padding: var(--size-4);
}

.post-item__content h3 {
  margin: var(--size-2) 0;
  font-size: var(--size-6);
}

.post-item__content time {
  color: var(--color-grey-300);
  font-style: italic;
}

.post-item__content p {
  line-height: var(--size-6);
}
